* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #c2337b;
    --secondary: #4b00d7;
    --alternative: #fa4c50;
    --grey: #f5f5f5;
    --light-grey: #eeeeee;
    --dark: #1F1F1F;
}

.presto-text {
    color: var(--light-grey);
}

/* Navbar */

.presto-navbar {
    padding: 30px 0;
    background-color: transparent;
    transition: all 0.8s;
}
.presto-navbar .navbar-brand{
    color: var(--light-grey);
    transition: all 0.25s;
}
.presto-navbar .navbar-brand:hover{
    color: var(--secondary);
    transition: all 0.25s;
}
.presto-navbar .nav-item .nav-link {
    font-weight: 800;
    color: var(--light-grey);
    transition: all 0.25s;
}
.presto-navbar .nav-item .nav-link.active{
    color: var(--primary);
    transition: all 0.25s;
}
.presto-navbar .nav-item .nav-link:hover {
    color: var(--primary);
    transition: all 0.25s;
}

.presto-navbar.padding-extension {
    padding: 0;
    background-color: black;
    transition: all 0.4s;
}

.presto-navbar .navbar-toggler {
    color: var(--light-grey);
    border-color: var(--light-grey);
}

.presto-navbar .nav-item .dropdown-menu .dropdown-item {
    font-weight: 800;
    color: var(--light-grey);
}
.presto-navbar .nav-item .dropdown-menu .dropdown-item.active{
    color: var(--primary);
    transition: all 0.25s;
}
.presto-navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: var(--primary);
    transition: all 0.25s;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: all 0.4s;
    
}

.rotate-90 {
    transform: rotate(90deg);
}

.presto-header {
    background-image: url('./images/sfondo1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.presto-header .container-fluid {
    background-color: rgba(0,0,0,0.5);
}

.presto-header .row {
    padding: 40vh 10px;
}

.presto-header-button {
    padding: 15px 50px;
    font-weight: 800;
    border-radius: 30px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.25s;
}

.presto-header-button:hover {
    background-color: transparent;
    border: 1px solid var(--light-grey);
}

.circular-link {
    height: 27px;
    width: 27px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    margin-right: 5px;
}
.circular-link:active {
    background-color: var(--light-grey);
}
.circular-link:hover {
    background-color: var(--light-grey);
    transition: all 0.25s;
}

.presto-container {
    padding: 0;
}

.presto-floating-header {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
    padding: 50px;
    transform: translate(18vw,-60%);
}

/* .presto-header-card {
    min-width: 200px;
} */

/* Categorie */

.presto-heading {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
    -webkit-background-clip: text;
    color: transparent;
}

.presto-card {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
    padding: 30px;
    border-radius: 20px;
    background-size: 200% 100%;
    transition: all 0.4s;
    background-position: 0 0;
    min-width: 278px;
}

.presto-card:hover {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
    padding: 30px;
    background-position: 100%;
    transform: scale(1.2);
    
}

/* Annunci in evidenza */

.presto-arrow-button {
    background-color: var(--primary);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.presto-bullet-button {
    background-color: var(--primary);
}

.presto-bullet-button:hover {
    background-color: var(--secondary);
}


.presto-bullet-button.glide__bullet--active {
    background-color: var(--secondary);
}

/* Footer */

.presto-footer {
    padding: 50px 70px;
    background-color: var(--dark);
}

.footer-circular-link {
    height: 55px;
    width: 55px;
    color: var(--light-grey);
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    transition: all 0.25s;
}
.footer-circular-link:active {
    background-color: var(--light-grey);
}
.footer-circular-link:hover {
    background-color: var(--light-grey);
    transition: all 0.25s;
}

/* Find page */

.presto-top {
    height: 90px;
    background-color: rgba(0,0,0,0.5);
}

.accordion .accordion-item .accordion-button {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
    border-radius: 5px;
    color: var(--light-grey);
}

.presto-bg {
    background: linear-gradient(135deg, var(--secondary), var(--alternative));
}
